@import 'includes/_flexbox'
@import 'includes/_prefixer-mixin'

html
  background: #fff
  height: 100%

body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  color: #555
  margin: 0

#root
  width: 100%
  height: calc(100vh)
  position: relative
  .wrap
    width: 100%
    height: 100%
#sign-in
  @include flexbox
  @include justify-content(flex-start)
  @include align-items(center)
  @include flex-direction(column)
  width: 100%
  height: 100%
  background: #7DCBC8    

  .big-icon
    font-size: 10em
    color: #95D7D5
    opacity: 0.6
    margin: 20px 0

  .register-icon
    font-size: 4em
    color: #fff
    opacity: 0.8

  .panel
    @include flexbox
    @include justify-content(center)
    @include align-items(center)
    @include flex-direction(column)
    background: #95D7D5
    color: #fff
    padding: 2em
    border-radius: 5px
    box-shadow: 0 7px 20px rgba(0,0,0,0.1)
    input
      line-height: 2em
      margin: 1em
      font-size: 1em
      -webkit-appearance: none
      border: 1px solid transparent
      box-sizing: border-box
      border-radius: 2px
      padding: 0 10px
      &:focus
        outline: none
        box-shadow: 0 2px 5px rgba(0,0,0,0.2)
    .warning
      color: #f54
      
    .submit
      padding: 0.5em 1em
      background: #FBCE3F
      color: #fff
      font-size: 1em
      margin-top: 1em
      opacity: 0.9
      cursor: pointer
      &:hover
        opacity: 1

    .switch
      margin-top: 1em
      cursor: pointer
      opacity: 0.8
      &:hover
        opacity: 1


#main
  @include flexbox
  @include flex-direction(column)
  width: 100%
  height: 100%
#nav
  height: 70px
  background: #fff
  color: #4C5767
  @include flexbox
  @include flex-direction(row)
  .logo
    @include flex-basis(40%)
  .links
    @include flex-basis(40%)
    .button
      padding: 5px 10px
      margin: 1em 
      &:hover

  .auth-panel
    @include flexbox
    @include justify-content(flex-end)
.title
  @include flexbox
  @include flex-direction(row)
  margin: 1em 0
  .tab
    padding: 10px 
    cursor: pointer
    &.active
      background: #0088cc
      color: #fff

#order-list
  margin: 0
  padding: 0
  table
    width: 100%
    thead
      background: #f1f1f1
      color: #646464
      th
        padding: 10px
    tbody
      border-collapse: collapse
      tr
        border-bottom: 1px solid #ddd
      .order
        &.new 
          .customer-info
            border-top: 3px solid #f54
            color: #f54
            font-weight: 200

        &.processing 
          .customer-info
            border-top: 3px solid #F6C674
            color: #F6C674
            font-weight: 200
          .start
            display: none
          .progress
            display: block !important
          .done
            display: none
        &.completed
          .start
            display: none
          .progress
            display: none
          .done
            display: block !important
        td 
          padding: 10px
          border-left: 3px solid transparent
          &.other
            padding-top: 2em
            text-align: center
          &.price 
            color: #0088cc
            font-style: italic
          .customer-info
            position: absolute
            margin: 5px 0
            font-weight: 100
            left: 20px
            width: 93%
            border-top: 1px dashed #ddd
            padding: 5px
          ul
            margin-top: 2.5em
            li 
              list-style-type: none
          .button
            padding: 5px
            color: #fff
            cursor: pointer
            opacity: 0.9
            &:hover 
              opacity: 1
            &.start
              background: #69cb95
            &.progress
              display: none
              background: #F6C674
            &.done
              display: none
              background: #646464
            &.finish


    // background: #fff
    // box-shadow: 0 1px 2px rgba(0,0,0,0.3)
    // padding: 1em
    // margin-bottom: 1em
    // @include flexbox
    // @include flex-direction(column)
    // &.new

    // tr
    //   line-height: 1.5em

    //   td
    //     text-align: right
    // .summary
    //   @include flexbox
    //   @include flex-direction(row)
    //   font-style: italic
    //   color: #aaa
    //   .info
    //     @include flex-basis(50%)
    //     display: none
    //   .price
    //     @include flex-basis(100%)
    //     text-align: right
    //     font-size: 1.5em
    //     color: #69cb95
    //     font-weight: 200
    //     font-style: normal
    // .orders
    //   width: 100%
    //   margin-top: 5px
    //   border-top: 1px solid #ccc
    //   font-size: 1.1em

    //   .total
    //     background: #828E9A
    //     color: #F6C674
    // .comment
